.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(108,238,231,1) 0%, rgba(172,236,174,1) 42%, rgba(208,241,215,1) 57%, rgba(0,212,255,1) 100%);
}

.loginFormContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-top: 1rem;
  border: 1px solid rgb(255, 255, 255);
  padding: 1rem;
}

.loginFormContainer label {
  color: rgb(72, 255, 0);
  font-size: 1.4rem;
  margin-bottom: 1rem;

}

.loginFormContainer button {
 margin-top: 2rem;
}

.panelContainer {
  background-color:aqua
}
